html {
  margin: 0 auto !important;
  width: 100% !important;
}

nav {
  background-color: #49bbc1;
  padding: 0 4vw;
}

nav a {
  margin: 20px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  text-align: right;
}

nav a:hover {
  color: black;
}

.button a:hover {
  color: 'yellow';
  box-shadow: 15px;

}
.footer {
  background-color: #49bbc1;
  width: 100%;
  height: 25px;
  position: fixed;
  bottom: 0;
}
.footer-text {
  color: white;
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
}

.App {
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
}
.home {
  background-image: url("../src/images/meeting.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%!important;   
  position: fixed;
}

.App-logo {
  height: 100%;
  width: 100%;
}

.App-header {
  background-color: #222;
  margin-top: 380px;
  height: 150px;
  padding: 20px;
  color: white;
  font-family: 'Abel', sans-serif;
}

.App-title {
  font-size: 2em;
  font-family: 'Abel', sans-serif;
  font-size: 50px;
}

.App-intro {
  font-size: large;
  font-family: 'Ubuntu', sans-serif;
}
.hometext {
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  font-weight: bold;
}
.loginheader {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}
.resultkey {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 15px;


}
.searchHeader {
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: bold;

}
.searchmentor {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 20px;

}
.button {
  padding: 10px 20px;
  border-radius: 20px;
  font-family: 'Abril Fatface';
  font-size: 20px;
  font-weight: bold;
}
.signupheader {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  width: 50%;
  margin: 0 auto;
  padding: 30px;


}
label {
   font-family: 'Open Sans Condensed', sans-serif;
}
.mentor-form {
  text-align: left;
  left: -30px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}
.list-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center!important;
}

.new-display {
  background-color: white;
  border: 2px solid #49bbc1;
  height: 50%vh;
  color: black;
  width: 50%;
  padding: 0px 20px;
  margin-top: 10px;
}
.collapsible-header {
  background-color: #222222;
}
.collapsible-body {
  background-color: #479a9e5e;
}
.mentor-form h4 {
  color: black;
}
[type="checkbox"].filled-in:checked+label:after {
  background-color: #49bbc1;
  border: 2px solid black;
}
[type="checkbox"]+label {
  color: black;
  font-family: 'Ubuntu', sans-serif;
}
.button, .input {
  color: black;
  background-color: #49bbc1;
}

.homesignin{
  width: 250px;
  height: auto;
  padding-top: 200px;
  margin: 0 auto;

}
.home-btn {
  background-color: white!important;
}
.home-btn:hover, .home-btn:focus {
  color: #49bbc1;
}

.home-intro {
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  height: 200px;
  text-align: center;
  padding: 30px;
  line-height: 40px;
}
.homeintro2 {
  padding-bottom: 100px;
}

.space {
  font-style: italic;
  font-family: 'Abel', sans-serif;
  color: #49bbc1;
  text-shadow:  2px 2px;
  -webkit-text-stroke: 1px black;
}
.mentor {
   text-shadow: 2px 2px;
  -webkit-text-stroke: 1px black;
}
.loginform, .studentform, .searchform {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
}
h4 {
  text-align: center;
}
.signinform {
  width: 50%!important;
  margin: 0 auto;
  padding: 10px;
}
.findmentor {
  padding: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  color: #49bbc1;
}
.findmentor a:hover {
  color: black;
}
.studentprofile {
  font-family: 'Ubuntu', sans-serif;
}
.selectedfields, .fields {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  margin-left: -20px;
  text-align: left;
  color: #49bbc1;

}
.fields  {
  text-decoration: underline;
  font-weight: bold;
}